<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Prova</th>
      <th scope="col">Respondida em</th>
      <th scope="col">Nota</th>
    </tr>
  </thead>
  <tbody>

    <% test_ids = current_user.test_ids%>
    <% @tests.each do |test| %>
      <th scope="row"> <%= test.id  %></th>
      <% if test.id.in?(test_ids) %>
      <% user_test = current_user.find_user_test(test) %>
        <td>
          <%= link_to test.name, users_backoffice_test_user_test_path(test, user_test), class:'btn btn btn-warning' %>
        </td> 
        <td>
          <%= l(user_test.created_at, format: :short) %>
        </td>
        <td>
          <%= user_test.grade %>
        </td>
      <% else %>
      <td>
        <%= link_to test.name, new_users_backoffice_test_user_test_path(test), class:'btn btn-primary' %>
      </td>
      <td>
        -
      </td>
      <td>
        -
      </td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tests %>
