<h1><%= action_message %></h1>
<hr>

<% if @question.errors.any? %>
  <% @question.errors.full_messages.each do |message| %>
    <span style="color: red"><%= message %></span>
  <% end %>
<% end %>


<%# com  [ :admins_backoffice, @admin] o rails determina qual a ação deve tomar. Se o @admin for nil, é a rota create. Caso contrário é a rota edit %>
<%= form_with(model: [ :admins_backoffice, @question], local: true) do |f| %>
  <div class="form-group">
    <%=f.label :description %>
    <%= f.hidden_field :description, class: "form-control", placeholder:"Descrição" %>
    <trix-editor input="question_description"></trix-editor>
    
    <%=f.label :subject %>
    <%= f.collection_select(:subject_id, @subjects, :id, :description, {}, class:"form-control") %>
  </div>

  <div id="answers">
    <%= f.fields_for :answers do |answer| %>
      <%= render partial: "answer_fields", locals: { f: answer } %>
    <% end %>
    
    <%= link_to_add_association 'Adicionar resposta', f, :answers  %>
  </div>
  
  <button type="submit" class="btn btn-primary">Salvar</button>
<% end %>