<div class="jumbotron">
  <h3>
    <%= msg_jumbotron %>
  </h3>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |f| %>
    <div class="card">
      <h5 class="card-header">
        Questão
        <%= question.id  %> - 
        <span>
          <%= link_to "#{question.subject.description} (#{question.subject.questions_count})", site_search_subject_path(question.subject_id, question.subject.description), class:"badge badge-secondary" %>
        </span>
      </h5>
      <div class="card-body">
        <h5 class="card-title"><%= question.description %></h5>
        <ul style="list-style:none;">
            <% question.answers.each do |answer|%>
                <li>
                    <%= radio_button_tag 'answer_id', answer.id%> <span class="card-text"><%= answer.description %></span>
                </li>
            <% end %>
            <hr>
            <li>
              <%= f.submit "Responder", class:"btn btn-primary", id:"submit_#{question.id}" %>
            </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= paginate @questions %>
<% else %>
  <div class="alert alert-warning" role="alert">
    Efetue login para ver o restante das questões 
  </div>
<% end %>
