<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">

      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

          <h1>Altere sua senha</h1>
          <%= render "users/shared/error_messages", resource: resource %>
          
          <div class="form-control">
              <%= f.password_field :password, placeholder:"Nova Senha" %>
          </div>
          <div class="form-control">
              <%= f.password_field :password_confirmation, placeholder:"Repita a senha" %>
          </div>
          <div class="separator"></div>
          
          <div style="display: flex;justify-content: center;">
            <%= f.submit "Recuperar Senha", class:"btn btn-primary" %>  
          </div>
        <% end %>  

      </section>
    <div style="text-align:center;">
      <h1>Time to Answer! ✔️</h1>
      <p>©2022 All Rights Reserved</p>
    </div>
</div>
