<h1>Administradores do Sistema</h1>
<hr>



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col"><%= translate_attr(@admins, :email) %></th>
      <th scope="col">
        <%= link_to new_admins_backoffice_admin_path do %>
          Novo Administrador
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
    <tr>
      <th scope="row"> <%= admin.id  %></th>
      <td><%= admin.email %></td>
      <td style="width: 100px">
        <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-primary btn-sm" do %>
          Editar
        <% end %>
        <%= link_to admins_backoffice_admin_path(admin), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Deseja excluir o Administrador #{admin.email}?"} do %>
          Apagar
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @admins %>


